.contact-section{
    background-color: var(--primary);
    background-image: url('../../assets/img/placeholder.webp');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.contact-section > section{
    width: 100%;
    height: 100%;
    background: rgba(5, 8, 11, 0.93);
    padding: 50px 0;
}

/* Info column */

.contact-section ul{
    list-style: none;
    margin: 5px 0;
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}

.contact-section li{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.contact-section li svg{
    margin-right: 10px;
    margin-top: 4.7px;
}

.contact-section li p{
    margin-bottom: 0px;
}

/* Form column */

.contact-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.contact-section form .form-group{
    width: 100%;
}

.contact-section .form-group .form-control{
    border-radius: 0px;
    padding: 10px 16px;
    box-shadow: none;
}

.contact-section button.btn{
    border-radius: 0px;
    background: var(--primary);
    padding: 10px 40px;
    border: none;
    transition: all 0.6s ease-in-out;
}

.contact-section button.btn:hover:not(:disabled){
    background: var(--text-hover);
}

.contact-section button:active, .contact-section button.active{
    background-color: var(--secondary) !important;
}

.contact-section button.btn:focus:not(:disabled){
    box-shadow: 0 0 0 .2rem rgba(103, 109, 117, 0.5) !important;
}

.contact-section button.btn:disabled{
    cursor: default;
}

.contact-section button.btn.success{
    background-color: rgb(0, 58, 0);
}

.contact-section button.btn.failure{
    background-color: rgb(73, 1, 1);
}